.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.div1 {
  background-color: #000000;
  color: white;
}
.div2 {
  background-color: green;
  color: white;
}
.div1.show,
.div2.show {
  height: 500px;
  transition: all 0.2s ease-in-out;
  padding-top: 50px;
  text-align: center;
}
.div1.hide,
.div2.hide {
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}