.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.div1,
.div2 {
  overflow: hidden;
}
.div1 {
  padding-left: 3%;
}
.div2 {
  padding-top: 5%;
}
.div1.show,
.div2.show {
  height: 100vh;
  transition: all 0.3s ease-in-out;
  padding-top: 4%;
}
.div1.hide,
.div2.hide {
  height: 0;
  transition: all 0.3s ease-in-out;
}